<div class="container">
	<div class="jumbotron bg-transparent text-center margin-none">
		<h1 style="font-size: 32px;">Meus contatos</h1>
	</div>
	<div class="row" data-toggle="isotope">
		<div class="col-md-6 col-lg-4 item" ng-repeat="p in vm.contatos" style="margin-bottom: 5px;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="media">
						<div class="pull-left">
							<img ng-if="!p.avatar" src="images/no_avatar.png" width="50" alt="people" class="media-object img-circle" />
							<img ng-if="p.avatar" ng-src="/account/avatar/{{p.avatar}}" width="50" alt="people" class="media-object img-circle" />
						</div>
						<div class="media-body">
							<h4 class="media-heading margin-v-5"><a href="/#/profile/{{p.key}}">{{p.label}}</a></h4>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<p class="common-friends"><i class="fa fa-users"></i> 3 contatos</p>
					<p class="common-friends"><i class="fa fa-file"></i> Nenhum projeto</p>
				</div>
				<div class="panel-footer">
					<a href="#" class="btn btn-default btn-sm">Ver perfil <i class="fa fa-share"></i></a>
					<a href="#" class="btn btn-danger btn-sm pull-right">Remover contato <i class="fa fa-remove"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>