<div class="container">
	<div class="row" data-toggle="isotope" ng-repeat="p in vm.contatos">
		<div class="col-md-6 col-lg-4 item">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="media">
						<div class="pull-left">
							<img ng-if="!p.avatar" src="images/no_avatar.png" width="50" alt="people" class="media-object img-circle" />
							<img ng-if="p.avatar" ng-src="/account/avatar/{{p.avatar}}" alt="people" class="media-object img-circle" />
						</div>
						<div class="media-body">
							<h4 class="media-heading margin-v-5"><a href="/#/profile/{{p.key}}">{{p.label}}</a></h4>
							<div class="profile-icons">
								<span><i class="fa fa-users"></i> 372</span>
								<span><i class="fa fa-photo"></i> 43</span>
								<span><i class="fa fa-video-camera"></i> 3</span>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<p class="common-friends">Common Friends</p>
					<div class="user-friend-list">
						<a href="#">
							<img src="images/people/50/guy-3.jpg" alt="people" class="img-circle" />
						</a>
						<a href="#">
							<img src="images/people/50/guy-3.jpg" alt="people" class="img-circle" />
						</a>
						<a href="#">
							<img src="images/people/50/woman-3.jpg" alt="people" class="img-circle" />
						</a>
						<a href="#">
							<img src="images/people/50/woman-3.jpg" alt="people" class="img-circle" />
						</a>
					</div>
				</div>
				<div class="panel-footer">
					<a href="#" class="btn btn-default btn-sm">Follow <i class="fa fa-share"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>