<div class="container">

	<div class="media messages-container media-clearfix-xs-min media-grid">
		<div class="media-left">
			<div class="messages-list">
				<div class="panel panel-default">
					<ul class="list-group">
						<li class="list-group-item active" ng-repeat="chat in vm.chats">
							<a href="" ng-click="vm.loadChat(chat)">
								<div class="media">
									<div class="media-left">
										<img src="images/people/110/woman-5.jpg" width="50" alt="" class="media-object" />
									</div>
									<div class="media-body">
										<span class="date">Today</span>
										<span class="user">{{chat.userLabel}}</span>
										<div class="message">Are we ok to meet...</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="media-body">
			<div class="panel panel-default share">
				<div class="input-group">
					<div class="input-group-btn">
						<a class="btn btn-primary" href="" ng-click="vm.saveMensagem(mensagem)">
							<i class="fa fa-envelope"></i> Send
						</a>
					</div>
					<!-- /btn-group -->
					<input type="text" class="form-control share-text" ng-model="mensagem.mensagem" placeholder="Write message..." />
				</div>
				<!-- /input-group -->
			</div>
			<div class="media" ng-repeat="mensagem in vm.chatLoaded.mensagens | orderBy:'-'">
				<div class="media-left" ng-if="vm.usuarioLogado.id === mensagem.userId">
					<a href="#">
						<img src="images/people/110/woman-5.jpg" width="60" alt="woman" class="media-object" />
					</a>
				</div>
				<div class="media-body message">
					<div class="panel panel-default">
						<div class="panel-heading panel-heading-white">
							<div class="pull-right">
								<small class="text-muted">{{mensagem.data}}</small>
								<span ng-if="vm.usuarioLogado.id === mensagem.userId" class="pull-right" style="margin-left: 10px; margin-right: -10px;">X</span>
							</div>
							<a href="#">{{mensagem.userId}}</a>
						</div>
						<div class="panel-body">
							{{mensagem.mensagem}}
						</div>
					</div>
				</div>
				<div class="media-right" ng-if="vm.usuarioLogado.id !== mensagem.userId">
					<a href="#">
						<img src="images/people/110/woman-5.jpg" width="60" alt="woman" class="media-object" />
					</a>
				</div>
			</div>
		</div>
	</div>

</div>