<div class="container">
	<div class="row" ng-if="vm.view.hasNoProfile">
		<div class="col s12">
			<h3>Complete seu perfil</h3>
		</div>
	</div>
	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input id="first_name" type="text" class="validate" ng-model="vm.view.name">
					<label class="active" for="first_name">Nome</label>
				</div>
				<div class="input-field col s6">
					<input id="last_name" type="text" class="validate" ng-model="vm.view.lastname">
					<label class="active" for="last_name">Sobrenome</label>
				</div>
			</div>
			<div class="row">
				<a class="waves-effect waves-light btn-large" ng-click="vm.salvarPerfil()">Salvar</a>
			</div>
		</form>
	</div>
</div>