<div class="container">
	<div class="cover profile">
		<div class="wrapper">
			<div class="image" style="padding-right: 0px;">
				<img src="images/profile-cover.jpg" alt="people" />
			</div>
		</div>
		<div class="cover-info">
			<div class="avatar">
				<img ng-if="!vm.view.avatar" src="images/no_avatar.png" alt="people" />
				<img ng-if="vm.view.avatar" ng-src="/account/avatar/{{vm.view.avatar}}" alt="people" />
			</div>
			<div class="name"><a ng-href="/#/profile/{{vm.view.key}}">{{vm.view.label}}</a></div>
			<ul class="cover-nav">
				<li ng-if="vm.view.isMyProfile">
					<a href=""><i class="fa fa-fw fa-check"></i> Meu perfil</a>
				</li>
				<li ng-if="!vm.view.isMyProfile && !vm.view.isRequestedByMe && !vm.view.isRequestedByUser && !vm.view.isFriend">
					<a href="" ng-click="vm.requestFriendship()"><i class="fa fa-fw fa-check"></i> Adicionar como contato</a>
				</li>
				<li ng-if="!vm.view.isMyProfile && vm.view.isFriend">
					<a href="" ng-click="vm.removeFriendship()"><i class="fa fa-fw fa-remove"></i> Remover dos contatos</a>
				</li>
				<li ng-if="!vm.view.isMyProfile && vm.view.isRequestedByUser && !vm.view.isFriend">
					<a href="" ng-click="vm.acceptFriendship()"><i class="fa fa-fw fa-check"></i> Aceitar contato</a>
				</li>
				<li ng-if="!vm.view.isMyProfile && vm.view.isRequestedByMe && !vm.view.isFriend">
					<a href="" ng-click="vm.cancelFriendshipRequest()"><i class="fa fa-fw fa-check"></i> Cancelar request</a>
				</li>
				<li ng-if="!vm.view.isMyProfile && vm.view.isRequestedByUser && !vm.view.isFriend">
					<a href="" ng-click="vm.denyFriendship()"><i class="fa fa-fw fa-remove"></i> Recusar contato</a>
				</li>
				<li class="active"><a ng-href="/#/profile/{{vm.view.key}}"><i class="fa fa-fw icon-user-1"></i> About</a></li>
				<li><a href=""><i class="fa fa-fw fa-users"></i> Friends</a></li>
				<li><a href=""><i class="fa fa-fw fa-file"></i> Projects</a></li>
			</ul>
		</div>
	</div>
	<div class="panel panel-default share">
		{{vm.view}}
	</div>
	<div class="panel panel-default share" ng-if="!vm.view.isMyProfile">
		<div class="input-group">
			<div class="input-group-btn">
				<a class="btn btn-primary" href="" ng-click="vm.sendMensagem()"><i class="fa fa-envelope"></i>Send</a>
			</div>
			<!-- /btn-group -->
			<input type="text" class="form-control share-text" ng-model="vm.mensagem.mensagem" placeholder="Write message..." />
		</div>
		<!-- /input-group -->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-gray">
					<a href="#" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>
					<i class="fa fa-fw fa-info-circle"></i> About
				</div>
				<div class="panel-body">
					{{vm.view.about}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-gray">
					<a href="#" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>
					<i class="fa fa-fw fa-info-circle"></i> Details
				</div>
				<div class="panel-body">
					<ul class="list-unstyled profile-about margin-none">
						<li class="padding-v-5">
							<div class="row">
								<div class="col-sm-4"><span class="text-muted">Skills</span></div>
								<div class="col-sm-8">
									<span ng-repeat="h in vm.view.habilidades">{{h.label + ', '}}</span>
								</div>
							</div>
						</li>
						<li class="padding-v-5">
							<div class="row">
								<div class="col-sm-4"><span class="text-muted">Job</span></div>
								<div class="col-sm-8">{{vm.view.ocupacao.label}}</div>
							</div>
						</li>
						<li class="padding-v-5">
							<div class="row">
								<div class="col-sm-4"><span class="text-muted">Lives in</span></div>
								<div class="col-sm-8">{{vm.view.localizacao.label}}</div>
							</div>
						</li>
						<li class="padding-v-5">
							<div class="row">
								<div class="col-sm-4"><span class="text-muted">Credits</span></div>
								<div class="col-sm-8">249</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-gray">
					<div class="pull-right">
						<a href="#" class="btn btn-primary btn-xs">Add <i class="fa fa-plus"></i></a>
					</div>
					<i class="icon-user-1"></i> Friends
				</div>
				<div class="panel-body">
					<ul class="img-grid">
						<li>
							<a href="#">
								<img src="images/people/110/guy-6.jpg" alt="image" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/people/110/woman-3.jpg" alt="image" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/people/110/guy-2.jpg" alt="image" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/people/110/guy-9.jpg" alt="image" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/people/110/woman-9.jpg" alt="image" />
							</a>
						</li>
						<li class="clearfix">
							<a href="#">
								<img src="images/people/110/guy-4.jpg" alt="image" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/people/110/guy-1.jpg" alt="image" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/people/110/woman-4.jpg" alt="image" />
							</a>
						</li>
						<li>
							<a href="#">
								<img src="images/people/110/guy-6.jpg" alt="image" />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading panel-heading-gray">
			<i class="fa fa-bookmark"></i> Bookmarks
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<a href="#" class="h5 margin-none">Climb a Mountain</a>
							<div class="text-muted">
								<small><i class="fa fa-calendar"></i> 24/10/2014</small>
							</div>
						</div>
						<a href="#">
							<img src="images/place1-full.jpg" alt="image" class="img-responsive" />
						</a>
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit ipsum laborum maiores tempore veritatis....</p>
							<div>
								<div class="pull-right">
									<a href="#" class="btn btn-primary btn-xs">read</a>
								</div>

								<a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body text-center">
							<a href="#" class="h5 margin-none">Vegetarian Pizza</a>
							<p class="text-muted"><i class="fa fa-calendar"></i> 24/10/2014</p>
							<span class="fa fa-star text-primary"></span>
							<span class="fa fa-star text-primary"></span>
							<span class="fa fa-star text-primary"></span>
							<span class="fa fa-star text-primary"></span>
							<span class="fa fa-star-o"></span>
						</div>
						<a href="#">
							<img src="images/food1-full.jpg" alt="image" class="img-responsive" />
						</a>
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor impedit ipsum laborum maiores tempore veritatis....</p>
							<div>
								<div class="pull-right">
									<a href="#" class="btn btn-primary btn-xs">read</a>
								</div>
								<a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="pull-right">
								<a href="#" class="btn btn-success btn-xs"><i class="fa fa-check-circle"></i></a>
							</div>
							<a href="#" class="h5">Win a Holiday</a>
							<div class="text-muted">
								<small><i class="fa fa-calendar"></i> 24/10/2014</small>
							</div>
						</div>
						<a href="#">
							<img src="images/place2-full.jpg" alt="image" class="img-responsive" />
						</a>
						<ul class="icon-list icon-list-block">
							<li><i class="fa fa-calendar fa-fw"></i> <a href="#">1 Week</a></li>
							<li><i class="fa fa-users fa-fw"></i> <a href="#"> 2 People</a></li>
							<li><i class="fa fa-map-marker fa-fw"></i> <a href="#">Miami, FL, USA</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>