<div class="container">
	<div class="cover profile">
		<div class="wrapper">
			<div class="image" style="padding-right: 0px;">
				<img src="images/project-cover.jpg" alt="people" />
			</div>
		</div>
		<div class="cover-info">
			<div class="avatar">
				<img src="images/project-cover.jpg" alt="people" style="border-radius: 0%" />
			</div>
			<div class="name" style="width: 85%;">
				<a ng-href="/#/projeto/{{vm.view.key}}">{{vm.view.titulo}}</a>
				<span class="pull-right" style="color: white; font-size: 10px;">Owner: <a style="font-size: 15px;" ng-href="/#/profile/{{vm.view.owner.key}}">{{vm.view.owner.label}}</a></span>
			</div>
			<ul class="cover-nav">
				<li ng-if="!vm.view.meuProjeto && !vm.view.souParticipante && !vm.view.isRequested && vm.view.permiteRequest">
					<a href="" ng-click="vm.request()"><i class="fa fa-fw fa-check"></i>  Pedir para participar</a>
				</li>
				<li ng-if="vm.view.isRequested">
					<a href="" ng-click="vm.cancelRequest()"><i class="fa fa-fw fa-check"></i> Cancelar request</a>
				</li>
				<li ng-if="vm.view.souParticipante">
					<a href="" ng-click="vm.leave()"><i class="fa fa-fw fa-check"></i> Deixar de participar</a>
				</li>
				<li ng-if="vm.view.meuProjeto || vm.view.souParticipante" ng-class="{ 'active': vm.tab === 'timeline' }"><a href="" ng-click="vm.tab = 'timeline'"><i class="fa fa-fw fa-home"></i> Home</a></li>
				<li ng-if="vm.view.meuProjeto || vm.view.souParticipante" ng-class="{ 'active': vm.tab === 'mensagens' }"><a href="" ng-click="vm.tab = 'mensagens'"><i class="fa fa-fw fa-comments"></i> Mensagens</a></li>
				<li ng-if="vm.view.meuProjeto || vm.view.souParticipante" ng-class="{ 'active': vm.tab === 'participantes' }"><a href="" ng-click="vm.tab = 'participantes'"><i class="fa fa-fw fa-users"></i> Participantes <strong>{{vm.view.numeroParticipantes}}</strong></a></li>
			</ul>
		</div>
	</div>
	<div ng-show="vm.tab === 'timeline'">
		<div class="panel panel-default share" ng-if="!vm.view.meuProjeto && !vm.view.souParticipante">
			<div class="input-group">
				<div class="input-group-btn">
					<a class="btn btn-primary" href="" ng-click="vm.sendMensagem()"><i class="fa fa-envelope"></i>Send</a>
				</div>
				<!-- /btn-group -->
				<input type="text" class="form-control share-text" ng-model="vm.mensagem.mensagem" placeholder="Write message..." />
			</div>
			<!-- /input-group -->
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-gray">
						<a href="#" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>
						<i class="fa fa-fw fa-info-circle"></i> Descrição
					</div>
					<div class="panel-body">
						<p>
							{{vm.view.descricao}}
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-gray">
						<a href="#" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>
						<i class="fa fa-fw fa-info-circle"></i> Links Externos
					</div>
					<div class="panel-body">
						<p ng-repeat="link in vm.view.links">
							{{link.description}} - <a ng-href="{{link.url}}" target="_blank">{{link.url}}</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="timeline row" data-toggle="isotope">
			<div class="col-md-12 item">
				<div class="timeline-block">
					<div class="panel panel-default share clearfix-xs">
						<div class="panel-heading panel-heading-gray title">
							Compartilhe algo
						</div>
						<div class="panel-body">
							<textarea name="status" class="form-control share-text" rows="3" placeholder="Isso será visualizado por todos os participantes do grupo..." ng-model="vm.post.post"></textarea>
						</div>
						<div class="panel-footer share-buttons">
							<a href="#"><i class="fa fa-photo"></i></a>
							<button type="submit" class="btn btn-primary btn-xs pull-right" href="" ng-click="vm.savePost()">Post</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-12 col-lg-12 item" ng-if="!vm.posts || vm.posts.length === 0">
				<h4>Nenhum post</h4>
				<div class="clearfix">&nbsp;</div>
			</div>
			<div class="clearfix">&nbsp;</div>
			<div class="col-xs-12 col-md-6 col-lg-4 item" ng-repeat="post in vm.posts">
				<div class="timeline-block">
					<div class="panel panel-default">

						<div class="panel-heading">
							<div class="media">
								<div class="media-left">
									<a href="">
										<img ng-if="!post.authorAvatar" src="images/no_avatar.png" alt="Bill" class="media-object" width="48" />
										<img ng-if="post.authorAvatar" ng-src="/account/avatar/{{post.authorAvatar}}" alt="Bill" class="media-object" width="48" />
									</a>
								</div>
								<div class="media-body">
									<a ng-href="/#/profile/{{post.authorKey}}">{{post.authorLabel}}</a>

									<span>{{post.insertTime}}</span>
								</div>
							</div>
						</div>

						<div class="panel-body">
							<p>{{post.post}}</p>
						</div>
						<div class="view-all-comments">
							<!--<a href="#">-->
								<!--<i class="fa fa-comments-o"></i> View all-->
							<!--</a>-->
							<span>{{post.commentList.length}} comments</span>

						</div>
						<ul class="comments">
							<li class="media" ng-repeat="co in post.commentList">
								<div class="media-left">
									<a href="">
										<img src="images/people/50/guy-5.jpg" class="media-object">
									</a>
								</div>
								<div class="media-body">
									<div class="pull-right dropdown" data-show-hover="li">
										<a href="#" data-toggle="dropdown" class="toggle-button">
											<i class="fa fa-close"></i>
										</a>
									</div>
									<a href="" class="comment-author pull-left">{{co.authorLabel}}</a>
									<span>{{co.comentario}}</span>
									<div class="comment-date">{{co.insertTime}}</div>
								</div>
							</li>
							<li class="comment-form">
								<div class="input-group">
								<span class="input-group-btn">
								   <a href="" ng-click="vm.saveComentarioPost(post)" class="btn btn-default"><i class="fa fa-paper-plane"></i></a>
								</span>
									<input type="text" class="form-control" ng-model="post.comment" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="vm.tab === 'participantes'">
		<div class="row" data-toggle="isotope" ng-repeat="p in vm.participantes">
			<div class="col-md-6 col-lg-4 item">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="media">
							<div class="pull-left">
								<img ng-if="!p.avatar" src="images/no_avatar.png" width="50" alt="people" class="media-object img-circle" />
								<img ng-if="p.avatar" ng-src="/account/avatar/{{p.avatar}}" alt="people" class="media-object img-circle" />
							</div>
							<div class="media-body">
								<h4 class="media-heading margin-v-5"><a href="/#/profile/{{p.key}}">{{p.label}}</a></h4>
								<div class="profile-icons">
									<span><i class="fa fa-users"></i> 372</span>
									<span><i class="fa fa-photo"></i> 43</span>
									<span><i class="fa fa-video-camera"></i> 3</span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<a href="" ng-if="p.requested" ng-click="vm.accept(p)" class="btn btn-primary btn-sm">Aceitar <i class="fa fa-check"></i></a>
						<a href="" ng-if="p.requested" ng-click="vm.leave(p)" class="btn btn-warning btn-sm">Recusar <i class="fa fa-close"></i></a>
						<a href="" ng-if="p.participante" ng-click="vm.leave(p)" class="btn btn-danger btn-sm">Remover <i class="fa fa-close"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="vm.tab === 'mensagens'">
		<div class="media messages-container media-clearfix-xs-min media-grid">
			<div class="media-body">
				<div class="panel panel-default share">
					<div class="input-group">
						<div class="input-group-btn">
							<a class="btn btn-primary" href="" ng-click="vm.sendMensagem(mensagem)">
								<i class="fa fa-envelope"></i> Send
							</a>
						</div>
						<!-- /btn-group -->
						<input type="text" class="form-control share-text" ng-model="mensagem.mensagem" placeholder="Write message..." />
					</div>
					<!-- /input-group -->
				</div>
				<div class="media" ng-if="!vm.chat.mensagens || vm.chat.mensagens.length === 0">
					Nenhuma mensagem
				</div>
				<div class="media" ng-repeat="mensagem in vm.chat.mensagens | orderBy:'-'">
					<div class="media-left" ng-if="vm.usuarioLogado.id === mensagem.userId">
						<a href="#">
							<img src="images/people/110/woman-5.jpg" width="60" alt="woman" class="media-object" />
						</a>
					</div>
					<div class="media-body message">
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-white">
								<div class="pull-right">
									<small class="text-muted">{{mensagem.data}}</small>
									<span ng-if="vm.usuarioLogado.id === mensagem.userId" class="pull-right" style="margin-left: 10px; margin-right: -10px;">X</span>
								</div>
								<a href="#">{{mensagem.userId}}</a>
							</div>
							<div class="panel-body">
								{{mensagem.mensagem}}
							</div>
						</div>
					</div>
					<div class="media-right" ng-if="vm.usuarioLogado.id !== mensagem.userId">
						<a href="#">
							<img src="images/people/110/woman-5.jpg" width="60" alt="woman" class="media-object" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>