<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script type="text/javascript" src="/vendor/ui.bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>

<!--<script type="text/javascript" src="/vendor/toastr/toastr@Ignore.min.js"></script>-->
<!--<script type="text/javascript" src="/vendor/ng-tags-input.min/ng-tags-input@Ignore.min.js"></script>-->
<!--<script type="text/javascript" src="/vendor/ui-select/ui-select@Ignore.min.js"></script>-->
<script type="text/javascript" src="/vendor/angular-translate/angular-translate@Ignore.min.js"></script>
<script type="text/javascript" src="/vendor/angular-translate/angular-translate-loader-static-files@Ignore.min.js"></script>

