<!--<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->

<script type="text/javascript" src="/vendor/themekit40/js/vendor/all@Ignore.js"></script>
<script type="text/javascript" src="/vendor/themekit40/js/app/app@Ignore.js"></script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script type="text/javascript" src="/vendor/ui.bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>

<script type="text/javascript" src="/vendor/angular-translate/angular-translate@Ignore.min.js"></script>
<script type="text/javascript" src="/vendor/angular-translate/angular-translate-loader-static-files@Ignore.min.js"></script>

