<li class="dropdown notifications updates hidden-xs hidden-sm">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="badge badge-primary">{{notificationsCount}}</span>
    </a>
    <ul class="dropdown-menu" role="notification">
        <li class="dropdown-header">Notifications <span class="pull-right" ng-click="readAll()"><a href="">Mark all read</a></span></li>
        <li class="media" ng-repeat="n in notifications" ng-style="!n.read && {'background-color':'#ECF0F1'}">
            <div class="media-left">
                <span class="icon-block s30 bg-grey-200"><i class="fa fa-plus"></i></span>
            </div>
            <div class="media-body">
                <div><a ng-href="{{n.url}}">{{n.description}}</a></div>
                <p>
                    <span class="text-caption text-muted">{{n.insertTime}}</span>
                </p>
            </div>
        </li>
    </ul>
</li>