<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="App">
<head>
<meta charset="UTF-8">
<title>TCC</title>
<object th:include="include/head"></object>
<object th:each="css : ${cssList}" th:utext="${css}"></object>
</head>
<body ng-controller="appCtrl">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">Logo</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#">Sass</a></li>
					<li><a href="#">Components</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div ng-view=""></div>
	<object th:include="include/footer"></object>
	<object th:each="js : ${jsList}" th:utext="${js}"></object>
</body>
</html>